$col-black: #111111;
$col-white: #ffffff;
$col-orange: #ff8c00;
$col-red: #A24857;
$col-boulder: #777777;
$col-bonewhite: #F9F6EE;
$col-gray: #aaaaaa;
$font-bebas: "Bebas Neue", sans-serif;
$font-sauce: "Open Sauce", arial;
$gradient: linear-gradient(
  90deg,
  rgba(233, 227, 198, 0.5) 0%,
  rgba(233, 198, 217, 0.5) 100%
);
